﻿@model Rusa4ok.NET.Models.Backend

@{
    ViewBag.Title = String.Format("Создание элемента - Настройки");
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="body-content">
    <div class="container">
        <div class="block-header">
            <h2>Просмотр и редактирование настройки</h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="card-body">

                            @if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
                            {
                                <div class="form-group">
                                    <div class="alert alert-danger">@Html.ValidationSummary(false, "Ошибки: ")</div>
                                </div>
                            }

                            <div class="form-group">
                                @Html.LabelFor(model => model.Tag)
                                @Html.EditorFor(model => model.Tag, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Value)
                                @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Description)
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary w-100">Создать</button>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
