﻿@model IEnumerable<Rusa4ok.NET.Models.Backend>

@{
    ViewBag.Title = "Настройки";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="body-content">
    <div class="container">
        <div class="block-header">
            <h2>Просмотр и редактирование настроек</h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body table-responsive">
                        <div class="header">
                            <h2>Таблица настроек</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-chevron-circle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>@Html.ActionLink("Добавить настройку", "Create", null, new { @class = "waves-effect waves-block" })</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Tag)</th>
                                    <th>@Html.DisplayNameFor(model => model.Value)</th>
                                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                                    <th>Редактировать</th>
                                    <th>Удалить</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th>@Html.DisplayFor(modelItem => item.Tag)</th>
                                        <th>@Html.DisplayFor(modelItem => item.Value)</th>
                                        <th>@Html.DisplayFor(modelItem => item.Description)</th>
                                        <td>@Html.ActionLink("Редактировать", "Edit", new { tag = item.Tag })</td>
                                        <td>@Html.ActionLink("Удалить", "Delete", new { tag = item.Tag })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
