﻿@using Rusa4ok.NET.Models

@{
    ViewBag.Title = "Каталог";
}

<section class="shop">
    <div class="container">
        <div class="row">
            <div class="section-title" data-aos="fade-up">
                <h2 class="text-center">Каталог товаров</h2>
            </div>
        </div>
        <div class="row">
            <div class="card w-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-4 col-xl-3">
                            <div class="nav flex-column nav-pills pr-3 menu" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                @foreach (Category item in ViewBag.Categories)
                                {
                                    if (item.Orders.Count > 0)
                                    {
                                        <a class="nav-link" data-toggle="collapse" href="#submenu-@item.Id" role="button">@item.Name</a>
                                        <div id="submenu-@item.Id" class="collapse ml-3 @(ViewBag.CategoryId != null && ViewBag.CategoryId == item.Id ? "show" : "")">
                                            <div class="nav flex-column">
                                                @foreach (Order order in item.Orders)
                                                {
                                                    <a class="nav-link @(ViewBag.OrderId != null && ViewBag.OrderId == order.Id ? "active" : "")" id="v-pills-@order.Id-tab" data-bs-toggle="pill" href="#v-pills-@order.Id" role="tab" aria-controls="v-pills-@order.Id" aria-selected="false">@order.Name</a>
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-12 col-md-8 col-xl-9">
                            <div class="tab-content" id="v-pills-tabContent">
                                @if (ViewBag.OrderId == 0)
                                {
                                    <div class="tab-pane fade show active" id="v-pills-welcome" role="tabpanel" aria-labelledby="v-pills-welcome-tab">
                                        <div class="row">
                                            <div class="col-12">
                                                <img class="img-fluid " src="~/images/welcome.jpg " alt=" ">
                                            </div>
                                        </div>
                                    </div>
                                }
                                @foreach (Order order in ViewBag.Orders)
                                {
                                    <div class="tab-pane fade @(ViewBag.OrderId != null && ViewBag.OrderId == order.Id ? "show active" : "")" id="v-pills-@order.Id" ifle="tabpanel" aria-labelledby="v-pills-@order.Id-tab">
                                        <div class="row">
                                            <div class="col-lg-6 mb-3">
                                                <img class="img-fluid " src="/images/orders/@order.ImgName " alt=" ">
                                            </div>
                                            <div class="col-lg-6">
                                                <h2 class="item-head text-center">@order.Name</h2>
                                                <hr>
                                                <p class="item-content">
                                                    @order.Description
                                                </p>
                                                <hr>
                                                <h2 class="item-price"><small>1 рублей 40 копеек</small></h2>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_RecommendedOrders")

@Html.Partial("_Gallery")