﻿@using Rusa4ok.NET.Models
@model IEnumerable<Sale>

@{
    ViewBag.Title = "Акции";
}

<section class="sales">
    <div class="container">
        <div class="row">
            <div class="section-title" data-aos="fade-up">
                <h2 class="text-center">Акции</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @foreach (Sale item in Model)
                {
                    <div class="card mb-3">
                        <div class="card-body">
                            <div>
                                <div class="h2">@item.Title</div>
                                <div class="text-muted">@item.CreateDate.ToString("d")</div>
                            </div>

                            <hr>

                            <div>
                                @item.Description
                            </div>

                            <div class="d-flex justify-content-end">
                                <a href="@Url.Content(String.Format("~/Sales/{0}/", item.Id))" class="btn btn-purple">Читать дальше</a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>

    </div>
</section>

