﻿@model IEnumerable<Rusa4ok.NET.Models.Identity.DetailUserModel>

@{
    ViewBag.Title = "Просмотр пользователей";
}

<section class="body-content">
    <div class="container">
        <div class="block-header">
            <h2>Просмотр и редактирование настроек</h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body table-responsive">
                        <div class="header">
                            <h2>Таблица настроек</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-chevron-circle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="http://" class=" waves-effect waves-block">Добавить настройку</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                                    <th>@Html.DisplayNameFor(model => model.Roles)</th>
                                    <th>Редактировать</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Roles)</td>
                                        <td>@Html.ActionLink("Редактировать", "Edit", new { id = item.Id })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
