@font-face {
    font-family: 'Lemon';
    src: url('../fonts/lemon-webfont.woff2') format('woff2'), url('../fonts/lemon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

section:not(.header) {
    padding: 5rem 0 0 0;
}

footer {
    margin-top: 5rem;
}

a:hover {
    text-decoration: underline;
}

.section-title {
    width: 100%;
    text-transform: uppercase;
    padding: 50px 0 30px 0;
}

.section-title h2 {
    text-transform: uppercase;
}

.section-title h2::before {
    content: "";
    width: 120px;
    height: 2px;
    display: inline-block;
    background: #9579ea;
    margin: 10px 10px;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 2px;
    display: inline-block;
    background: #9579ea;
    margin: 10px 10px;
}

.btn-purple {
    color: #fff;
    background-color: #9579ea;
    border-color: #9579ea;
}

.btn-purple:hover {
    color: #fff;
    background-color: #6e57b1;
    border-color: #6e57b1;
}

@media (max-width: 576px) {
    .section-title h2::before {
        content: none;
    }
    .section-title h2::after {
        content: none;
    }
}


/* Navbar */

.navbar .navbar-brand {
    font-family: 'Lemon';
    font-size: 1.5rem;
    border: 1px solid white;
    border-radius: .3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
}

.navbar .nav-centred {
    margin: auto auto;
}

.navbar .nav-link {
    line-height: 2.0;
    color: #ffffff !important;
}

.navbar .navbar-toggler {
    border-color: #ffffff;
    color: #ffffff;
}

.navbar .nav-item {
    margin-right: 10px;
    margin-left: 10px;
}

.nav-item.active .nav-link {
    text-decoration: none;
    margin-bottom: -4px;
}

.nav-item.active .nav-link::after {
    display: block;
    content: " ";
    width: 100%;
    border-bottom: 4px solid #ffffff;
}

.nav-item .nav-link:hover {
    text-decoration: none;
    margin-bottom: -4px;
}

.nav-item .nav-link:hover::after {
    display: block;
    content: " ";
    width: 100%;
    border-bottom: 4px solid #ffffff;
}

.bg-purple {
    background-color: #9579ea !Important;
}


/* END Navbar */


/* Header */

.header {
    /* background-color: rgba(235, 249, 255, 0.6); */
    background-color: #f9f7ff;
    padding-top: 4rem;
}

.header .logo {
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
    padding-top: 2rem;
    -webkit-animation: mover 1.75s infinite alternate;
    animation: mover 1.75s infinite alternate;
}

.header .logo-text {
    font-family: 'Lemon' !important;
    font-size: 5rem;
    text-transform: uppercase;
    text-shadow: -4px -4px 0px #9579ea;
    background: repeating-linear-gradient(45deg, #b49ef5, #b49ef5 1px, white 2px, white 3px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    margin: 20px auto;
}

.header .owl-share .card {
    margin: 30px 30px;
}

.header .owl-share .title {
    margin: 0 40px;
}

.header .owl-share .card-text {
    margin: 0 50px;
}

.header .sale {
    background-image: url(../images/sale.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -30px;
    left: -30px;
}

.header .logo-subtext {
    margin-right: 20px;
    margin-left: 20px;
    text-align: justify;
}

.header .clouds-container {
    overflow: hidden;
}

.header .clouds {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 16rem;
    height: 11rem;
}

.header .clouds.cloud-1 {
    background-image: url(../images/cloud1.png);
    float: left;
}

.header .clouds.cloud-2 {
    background-image: url(../images/cloud2.png);
    margin-top: -6rem;
    float: right;
}

.header .clouds.cloud-3 {
    background-image: url(../images/cloud3.png);
    margin-top: -5rem;
    float: left;
}

.header .clouds.cloud-4 {
    background-image: url(../images/cloud4.png);
    margin-top: -7rem;
    float: right;
}

.header .clouds.cloud-5 {
    background-image: url(../images/cloud5.png);
    margin-top: -3rem;
    width: 25rem;
    float: left;
}

.header .clouds .content {
    font-weight: bold;
    height: 100%;
    text-align: center;
}

.header .clouds .content i {
    margin-right: 5px;
}

.header .clouds.cloud-1 .content {
    padding: 5.5rem 2rem;
}

.header .clouds.cloud-2 .content {
    padding: 4.5rem 2.5rem;
}

.header .clouds.cloud-3 .content {
    padding: 5rem 3rem;
}

.header .clouds.cloud-5 .content {
    padding: 5.5rem 3rem;
}

.header .box {
    background-image: url(../images/box.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 300px;
}

.header .box:hover {
    animation: shake 1s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}

.header .box .content {
    padding: 24% 33% 14% 36%;
    height: 100%;
    text-align: center;
}

.header .box .content .head {
    font-weight: bold;
}

.header .box .content .body {
    word-break: normal;
}

@media (max-width: 575.98px) {
    .header .logo-text {
        font-size: 12vw;
    }
    .header .clouds.cloud-4 {
        display: none;
    }
    .header .clouds.cloud-5 {
        width: 17rem;
        height: 9rem;
    }
    .header .clouds.cloud-5 .content {
        padding: 4.7rem 0rem;
    }
    .header .logo-text {
        margin: 0 auto;
    }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
    .header .logo-text {
        font-size: 8vw;
    }
}

@media (max-width: 1199.98px) {
    .header .clouds.cloud-1 {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .header .clouds.cloud-2 {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .header .clouds.cloud-3 {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .header .clouds.cloud-4 {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .header .clouds.cloud-5 {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}


/* END Header */


/* Counts */

.counts .col-md-4 {
    text-align: center;
    border-right: 1px dashed black;
}

.counts .col-md-4:last-child {
    border-right: 0px solid black;
}

.counts .counter {
    animation-duration: 1s;
    animation-delay: 0s;
}

.counts i {
    font-size: 40px !Important;
    color: #9579ea;
}

@media (max-width: 770px) {
    .counts .col-md-4 {
        border-right: 0px dashed black;
        border-bottom: 1px dashed black;
        width: 50%;
        padding: 1rem 0 1rem 0;
    }
    .counts .col-md-4:last-child {
        border-bottom: 0px dashed black;
    }
}


/* END Counts */


/* Catalog */

.catalog .darken {
    background: radial-gradient(circle, rgba(149, 147, 147, 1) 0%, rgba(68, 68, 68, 1) 100%);
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.catalog .img {
    position: relative;
}

.catalog .img:hover .darken {
    opacity: 0.6;
}

.catalog .darken .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    transition: .5s ease;
}

.catalog .darken .text {
    color: white;
    font-size: 3rem;
    padding: 16px 32px;
}


/* END Catalog */


/* Shop */

.shop .menu {
    height: 100%;
    border-right: 2px solid #9579ea;
}

.shop .nav-pills .nav-link {
    word-break: break-word;
}

.shop .nav-pills .nav-link.active {
    background-color: #9579ea;
}

.shop .item-content {
    text-align: justify;
}

.shop .item-price {
    color: #fff;
    text-align: center;
    border-radius: 10px;
    background-color: #9579ea;
}

@media (max-width: 767.98px) {
    .shop .menu {
        border-right: unset;
        border-bottom: 2px solid #9579ea;
        margin-bottom: 10px;
    }
}


/* END Shop */


/* Info */

.info div.item-content {
    line-height: 2.5;
}

.info .item-content span.title {
    font-weight: bold;
}

.info .item-content .content {
    float: right;
}


/* END Info */


/* Recommended */

.recommended .best {
    position: absolute;
    color: #fff;
    height: 25px;
    width: 100px;
    top: 0px;
    left: -13px;
    background-color: red;
    transform: rotate(-40deg) skewX(-40deg);
}

.recommended .best .title {
    margin-left: -30px;
    font-weight: bold;
    text-align: center;
    transform: skewX(40deg);
}


/* END Recommended */


/* Gallery */

.gallery .owl-carousel {
    position: relative;
    height: 600px;
    z-index: 0;
}

.gallery .owl-carousel .item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    position: relative;
    z-index: 0;
}

.gallery .owl-carousel .item .darken {
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(149, 147, 147, 1) 0%, rgba(68, 68, 68, 1) 100%);
    opacity: 0;
    transition: .5s ease;
    cursor: pointer;
}

.gallery .owl-carousel .item:hover .darken {
    opacity: 0.6;
}

.gallery .owl-carousel .item .darken .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    transition: .5s ease;
}

.gallery .owl-carousel .item .darken .text {
    color: white;
    font-size: 3rem;
    padding: 16px 32px;
}

@media (max-width: 1199.98px) {
    .gallery .owl-carousel .item {
        background-position: center center !important;
    }
}

.gallery .owl-carousel .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

@media (max-width: 767.98px) {
    .gallery .owl-carousel .owl-dots {
        bottom: 5px;
    }
}

.gallery .owl-carousel .owl-dots .owl-dot {
    width: 18px !important;
    height: 18px !important;
    margin: 5px;
    border-radius: 50%;
    background: #e6e6e6;
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.5);
    outline: none !important;
    position: relative;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    display: inline-block;
}

.gallery .owl-carousel .owl-dots .owl-dot span {
    position: absolute;
    width: 12px;
    height: 12px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50% !important;
    left: 50%;
    top: 50%;
    display: block;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.gallery .owl-carousel .owl-dots .owl-dot.active {
    border: 2px solid white;
}

.gallery .owl-carousel .owl-dots .owl-dot.active span {
    background: white;
}


/* END Gallery */


/* 404 */

.notfound .text {
    display: inline-block;
    font-family: 'Lemon';
    font-size: 30vw;
    color: #9579ea;
}

.notfound .info-text {
    border-radius: 10px;
    background-color: #9579ea;
    color: #fff;
    padding: 10px 20px;
    font-size: 4vw;
}

.notfound .logo {
    display: inline-block;
    background-image: url(../images/logoWithZero.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 30vw;
    padding-top: 2rem;
    -webkit-animation: mover 1.75s infinite alternate;
    animation: mover 1.75s infinite alternate;
}


/* END 404 */


/* Footer */

footer {
    background-color: #f9f7ff;
}

footer .copyright {
    background-color: rgba(149, 121, 234, 0.6) !Important;
}

footer .social-block {
    position: relative;
    top: 50%;
}

footer .social {
    height: 60px;
    width: 60px;
    display: block;
    background-color: #9579ea;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

footer .social i {
    position: absolute;
    font-size: 26px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
}


/* END Footer */


/* Waves */

.waves {
    max-width: 100%;
    overflow: hidden;
    position: absolute;
}

canvas {
    display: block;
}


/* END Waves */


/* KeyFrames */

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-3rem);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-3rem);
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}


/* END Keyframes */