﻿@model Rusa4ok.NET.Models.Category

@{
    ViewBag.Title = String.Format("Удаление {0} - Категории", Model.Name);
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="body-content">
    <div class="container">
        <div class="block-header">
            <h2>Удаление категории</h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <div class="card-body">

                        @if (@ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
                        {
                            <div class="form-group">
                                <div class="alert alert-danger">@Html.ValidationSummary(false, "Ошибки: ")</div>
                            </div>
                        }

                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name)
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                        </div>

                        @Html.HiddenFor(Model => Model.ImgName, new { id = "hfPhoto" })

                        <div class="form-group">
                            <label for="photo">Фото</label>
                            <img id="imgPreview" class="img-fluid" src="@Url.Content(String.Format("~/images/categories/{0}", Model.ImgName))" />
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary w-100" onclick="return confirm('Уверены?')">Удалить</button>
                        </div>

                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
