﻿@model Rusa4ok.NET.Models.Category

@{
    ViewBag.Title = String.Format("Редактирование {0} - Категории", Model.Name);
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="body-content">
    <div class="container">
        <div class="block-header">
            <h2>Редактирование категории</h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    @using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="card-body">

                            @if (@ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
                            {
                                <div class="form-group">
                                    <div class="alert alert-danger">@Html.ValidationSummary(false, "Ошибки: ")</div>
                                </div>
                            }

                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name)
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="form-group">
                                <label for="photo">Фото</label>
                                <input type="file" class="form-control-file" id="photo" name="upload">
                                @Html.HiddenFor(Model => Model.ImgName, new { id = "hfPhoto" })
                            </div>

                            <div class="form-group">
                                <img id="imgPreview" class="img-fluid" src="@Url.Content(String.Format("~/images/categories/{0}", Model.ImgName))" />
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary w-100">Сохранить</button>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $('#photo').change(function () {
            if (this.files[0]) {

                $('#hfPhoto').val(this.files[0].name);

                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgPreview').attr('src', e.target.result);
                }

                reader.readAsDataURL(this.files[0]); // convert to base64 string
            }

        });
    </script>
}