﻿@using Rusa4ok.NET.BLL.Helpers

<section class="counts">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4">
                <h1><span class="counter-count" data-toggle="counter-up">@BackendHelper.TagToValue("ClientsCount")</span></h1>
                <h3>Клиентов</h3>
                <i class="fa fa-users"></i>
            </div>
            <div class="col-12 col-md-4">
                <h1><span class="counter-count" data-toggle="counter-up">@BackendHelper.TagToValue("GiftsCount")</span></h1>
                <h3>Подарков</h3>
                <i class="fa fa-gift"></i>
            </div>
            <div class="col-12 col-md-4">
                <h1><span class="counter-count" data-toggle="counter-up">@BackendHelper.TagToValue("ReviewsCount")</span></h1>
                <h3>Отзывов</h3>
                <i class="fa fa-comment"></i>
            </div>
        </div>
    </div>
</section>