﻿@using Rusa4ok.NET.BLL.Helpers

<footer class="text-center text-lg-start ">
    <div class="container p-4 ">
        <div class="row ">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0 ">
                <h5 class="text-uppercase ">О нас</h5>

                <p>
                    @BackendHelper.TagToValue("AboutUs")
                </p>
            </div>
            <div class="col-lg-2 col-4 mb-4 mb-md-0 ">
                <div class="social-block">
                    <a href="@BackendHelper.TagToValue("VkLink")" class="social ">
                        <i class="fab fa-vk "></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-4 mb-4 mb-md-0 ">
                <div class="social-block">
                    <a href="@BackendHelper.TagToValue("TwitterLink")" class="social ">
                        <i class="fab fa-twitter "></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-4 mb-4 mb-md-0 ">
                <div class="social-block">
                    <a href="@BackendHelper.TagToValue("YouTubeLink")" class="social ">
                        <i class="fab fa-youtube "></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="copyright text-center p-3 ">
        © 2020 Copyright:
        <a class="text-white " href=" ">KOTKenny</a>
    </div>
    <!-- Copyright -->
</footer>
