﻿@using Rusa4ok.NET.BLL.Helpers
@using Rusa4ok.NET.Models

<section class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="logo w-100 h-100">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="row">
                    <div class="logo-text">
                        Rusa4ok
                    </div>
                </div>
                <div class="row">
                    <div class="logo-subtext mb-3">
                        @BackendHelper.TagToValue("LogoSubText")
                    </div>
                </div>
                <div class="row">
                    <div class="owl-carousel owl-share">
                        @foreach (Sale item in SalesHelper.GetSales())
                        {
                            <div class="card text-center">
                                <div class="sale"></div>
                                <div class="card-body">
                                    <h4 class="card-text">
                                        @item.Title
                                    </h4>
                                    <hr>
                                    <a href="@Url.Content(String.Format("~/Sales/{0}/", item.Id))" class="btn btn-purple">Подробнее об акции</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="row clouds-container">
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-12">
                        <div class="clouds cloud-1" data-aos="fade-left" data-aos-duration="3000">
                            <div class="content">
                                <i class="fas fa-phone"></i>
                                <a href="tel:@BackendHelper.TagToValue("Phone")">@BackendHelper.TagToValue("Phone")</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-12">
                        <div class="clouds cloud-2" data-aos="fade-right" data-aos-duration="3000">
                            <div class="content"><i class="fas fa-envelope"></i> <a href="mailto:@BackendHelper.TagToValue("Email")">@BackendHelper.TagToValue("Email")</a></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-12">
                        <div class="clouds cloud-3" data-aos="fade-left" data-aos-duration="3000">
                            <div class="content"><i class="fas fa-map-marked"></i>@BackendHelper.TagToValue("City")</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-6 col-xl-12">
                        <div class="clouds cloud-4" data-aos="fade-right" data-aos-duration="3000">
                            <div class="content"></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-6 col-xl-12">
                        <div class="clouds cloud-5" data-aos="fade-left" data-aos-duration="3000">
                            <div class="content">
                                @BackendHelper.TagToValue("Address")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="waves">
                <canvas id="canvas"></canvas>
            </div>
        </div>

    </div>
</section>