﻿
<nav class="navbar navbar-expand-lg navbar-dark bg-purple fixed-top">
    <a class="navbar-brand" href="@Url.Content("~")">R</a>
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav nav-centred mr-auto mt-2 mt-lg-0">
            <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")">
                <a class="nav-link" href="@Url.Content("~/")">Главная</a>
            </li>
            <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString() == "Catalog" ? "active" : "")">
                <a class="nav-link" href="@Url.Content("~/Catalog/")">Каталог товаров</a>
            </li>
            <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString() == "Sales" ? "active" : "")">
                <a class="nav-link" href="@Url.Content("~/Sales/")">Акции</a>
            </li>
            <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString() == "About" ? "active" : "")">
                <a class="nav-link" href="@Url.Content("~/About/")">О нас</a>
            </li>
        </ul>
    </div>
</nav>
